<html>
<head>
  <title></title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
  .field{
    width:180px;
  }


  table{
  display: none;
  width: 100%;
  border-collapse: collapse;
  top: 40px;
  left: 40px;
  }
  td, th{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  }

  form{
    padding: 20px;
  }

  .none{
  pointer-events: none;

  }
  code {
  background-color: whitesmoke;
      }
  </style>
</head>
<body>
<header>
  <h1>Personal Library</h1>
</header>
<br>
<div id ='sampleposting'>
  <h2 style="text-align: left">Filters</h2>

  <form action="" method="post" id='form' class="border">
    <h4>Name</h4>
    
    <label for="id">Id</label>
    <input type="text" id="idOfItem" name="_id" value=""><br>

    <label for="nameOfItem" >Name</label>
    <input type="text" id="nameOfItem" name="name" value=""><br>

    <label for="filterTo">FilterToPrice</label>
    <input type="text" name="price" value="" id="filterTo"><br>

    <label for="quantity">Abialable items</label>
    <input type="text" name="quantity" value="" id="quantity"><br>

    <input type="submit" value="Submit">
  </form>
</div>

<div id ='addNew'>
  <h2 style="text-align: left">Filters</h2>

  <form action="" method="post" id='formAddNew' class="border">
    <h4>Add new item</h4>

   <label for="nameOfNewItem" >Name of new item</label>
    <input type="text" id="nameOfNewItem" name="name" value=""><br>

    <label for="priceOfNewItem">Price of new item</label>
    <input type="text" name="price" value="" id="priceOfNewItem"><br>

    <label for="quantityOfNewItem">Quantity of new item</label>
    <input type="text" name="quantity" value="" id="quantityOfNewItem"><br>

    <input type="submit" value="Submit">
  </form>
  <p id='isAdded'></p>
</div>
<hr style='margin: 50px'>
<div id='list'> <table id='table'><tr><th>id</th><th>Name</th><th>Price</th><th>Quantity</th></table> </div>
<div id='info'> </div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  'use strict'
  
  let list = document.getElementById('list');
  let formElem = document.querySelector("form");
  let name = document.getElementById('nameOfItem');
  let price = document.getElementById('filterTo');
  let quantity = document.getElementById('quantity');
  let id = document.getElementById('idOfItem');
  let infoErr = document.getElementById('info');
  let tbl = document.getElementById('table');
  let formAddNew = document.getElementById("formAddNew");
  let nameOfNew = document.getElementById('nameOfNewItem');
  let priceOfNew = document.getElementById('priceOfNewItem');
  let quantityOfNew = document.getElementById('quantityOfNewItem');
  let isAdded = document.getElementById('isAdded');
      isAdded.innerHTML = '';

    formElem.onsubmit = async (e) => {
      infoErr.innerHTML = '';
      tbl.innerHTML = '';
      let bodyJSON = JSON.stringify({_id:id.value, name: name.value, price: price.value, quantity: quantity.value});
      e.preventDefault();
      

    fetch('/products', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: bodyJSON })
      .then(response => response.json())
      .then(result => {
          if(!result.errors){
            tbl.style.cssText += 'display: inline';
            let products = JSON.parse(result);
            console.log(result, 'result090u');
            getTbl(tbl,products);
          }else{
            console.log(result.errors) 
            result.errors.map(item => infoErr.innerHTML += `<li>${item.msg} on field ${item.param} - ${item.value}`) 
        }
           
        })
      .catch(err => {
        console.log('err', err);
      })

  };

    formAddNew.onsubmit = async (e) => {
      let bodyJSON = JSON.stringify({name: nameOfNew.value, price: priceOfNew.value, quantity: quantityOfNew.value});
      e.preventDefault();
      fetch('/new-item', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: bodyJSON })
        .then(response => response.text())
        .then(result => {
          console.log(result, 'newAdded');
          isAdded.innerHTML = result 
        })
      .catch(err => {
        console.log('err', err);
      })
      }



function getTbl(elem, arr){

  for(let i = 0; i < arr.length ; i++){
    let tr = createEl('tr', elem);
    for(let key in arr[i]){
      let td = createEl('td', tr);
        td.innerHTML = arr[i][key]
    }
  }
}

function createEl(tag, par ){
	let el = document.createElement(tag);
		par.appendChild(el);
		return el;
}

</script>
</body>
</html>
