<html>
<head>
  <title></title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
  .field{
    width:180px;
  }


  table{
  display: none;
  width: 100%;
  border-collapse: collapse;
  top: 40px;
  left: 40px;
  }
  td, th{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  }

  form{
    padding: 20px;
  }

  code {
  background-color: whitesmoke;
      }
  </style>
</head>
<body>
<header>
  <h1>Personal Library</h1>
</header>
<br>
<div>
  <button id='showAll'>Show all items</button>
</div>
<div>
  <form action="" id='findById' class="border">
    <label for="id">Find by ID</label>
    <input type="text" id="byId" name="_id" value=""><br>
    <input type="submit" value="Submit">
  </form>
</div>

<div>
  <form action="" method='delete' id='deleteById' class="border">
    <label for="deleteId">Delete by ID</label>
    <input type="text" id="deleteId" name="_id" value=""><br>
    <input type="submit" value="Submit">
  </form>
  <p id='infoDeleted'></p>
</div>
<div>
  <form action="" id='updateById' class="border">
    <label for="updateId">ID</label>
    <input type="text" id="updateId" name="_id" value=""><br>
    <label for="nameUpd">name</label>
    <input type="text" id="nameUpd" name="name" value=""><br>
    <label for="priceUpd">price</label>
    <input type="text" id="priceUpd" name="price" value=""><br>
    <label for="quantityUpd">quantity</label>
    <input type="text" id="quantityUpd" name="quantity" value=""><br>
    <input type="submit" value="Submit">
  </form>
  <p id='infoUpdated'></p>
</div>
<div id ='sampleposting'>
  <h2 style="text-align: left">Filters</h2>


  <form action="" method="post" id='form' class="border">
    <h4>Name</h4>
    
    <label for="id">Id</label>
    <input type="text" id="idOfItem" name="_id" value=""><br>

    <label for="nameOfItem" >Name</label>
    <input type="text" id="nameOfItem" name="name" value=""><br>

    <label for="filterTo">FilterToPrice</label>
    <input type="text" name="price" value="" id="filterTo"><br>

    <label for="quantity">Abialable items</label>
    <input type="text" name="quantity" value="" id="quantity"><br>

    <input type="submit" value="Submit">
  </form>
</div>

<div id ='addNew'>
  <h2 style="text-align: left">Filters</h2>

  <form action="" method="post" id='formAddNew' class="border">
    <h4>Add new item</h4>

   <label for="nameOfNewItem" >Name of new item</label>
    <input type="text" id="nameOfNewItem" name="name" value=""><br>

    <label for="priceOfNewItem">Price of new item</label>
    <input type="text" name="price" value="" id="priceOfNewItem"><br>

    <label for="quantityOfNewItem">Quantity of new item</label>
    <input type="text" name="quantity" value="" id="quantityOfNewItem"><br>

    <input type="submit" value="Submit">
  </form>
  <p id='isAdded'></p>
</div>
<hr style='margin: 50px'>
<div id='list'> <table id='table' style="display: none"><tr><th>id</th><th>Name</th><th>Price</th><th>Quantity</th></table> </div>
<div id='info'> </div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  'use strict'
  
  let infoErr = document.getElementById('info');
        

  $(function() {
 
    $('#findById').submit(function(e) {
      let  id = $('#byId').val();
      console.log(id, 'id')

    $.ajax({
      url: '/api/products/'+id,
      type: 'get',
      success: function(data) {
        $('#table').attr('style', "display: inline");
        console.log(data, 'result090u');
        getTbl(data);

      }
    });
    e.preventDefault();
  });
 
    $('#deleteById').submit(function(e) {
      let id = $('#deleteId').val();
      console.log(id, 'id')

    $.ajax({
      url: '/api/products/'+id,
      type: 'delete',
      success: function(data) {
        $('#table').attr('style', "display: inline");
        console.log(data, 'resultDeleted');
        $('#infoDeleted').text(data);
      }
    });
    e.preventDefault();
  });

    $('#updateById').submit(function(e) {
      let id = $('#updateId').val();
      console.log(id, 'id')
          $.ajax({
            url: '/api/products/'+id,
            type: 'put',
            data: $('#updateById').serialize(),
            success: function(data) {
              $('#infoUpdated').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
  });
 
    $('#showAll').click(function(e) {
    $.ajax({
      url: '/api/products',
      type: 'get',
      success: function(data) {
        $('#table').attr('style', "display: inline");
        console.log(data, 'result090u');
          getTbl(data);
      }
    });
    e.preventDefault();
  });

        $('#isAdded').text('');
  $('#form').submit(function(e) {
    $('#table').text('');
    $.ajax({
      url: '/api/products',
      type: 'post',
      data: $('#form').serialize(),
      success: function(data) {
        $('#jsonResult').text(JSON.stringify(data));
        $('#table').attr('style', "display: inline");
        let products = JSON.parse(data);
        console.log(data, 'result090u');
        getTbl(products);
      }
    });
    e.preventDefault();
  });

  $('#formAddNew').submit(function(e) {
      $.ajax({
        url: '/api/new-item',
        type: 'post',
        data: $('#formAddNew').serialize(),
        success: function(data) {
          $('#isAdded').text(data);
        }
      });
      e.preventDefault();
    });


    });


function getTbl( arr){

  let tbl = document.getElementById('table');

  for(let i = 0; i < arr.length ; i++){
    let tr = createEl('tr', tbl);
    for(let key in arr[i]){
      let td = createEl('td', tr);
        td.innerHTML = arr[i][key]
    }
  }
}

function createEl(tag, par ){
	let el = document.createElement(tag);
		par.appendChild(el);
		return el;
}

</script>
</body>
</html>
