<html>
<head>
  <title></title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
<br>
<div id ='sampleposting'>
  <h2 style="text-align: left">Filters</h2>

  <form action='' id='filterForm'>

    <input id='byName' placeholder='searchByName' name='name'><br>
    <input id='byPrice' placeholder='searchByPrice' name='price'><br>
    <input id='byQuantity' placeholder='searchByQuantity' name='quantity'><br>
    <input id='page' placeholder='page' name='page' value='1'><br>
    <input id='limit' placeholder='limit' name='limit' value='5'><br>

    <input type='submit'>
  </form>

  <hr style='margin: 50px'>
<div>
  <button id='showAll'>Show all items</button>
  <button id='addNewButt' onclick="funcAdd()">Add new item</button>


</div>

<div id='list'>
  <table id='table'><tr><th>id</th><th>Name</th><th>Price</th><th>Quantity</th><th>Update</><Delete></table>
</div>
  <div id='listOfLinks'></div>


  <div id ='formFor' style="display: none">

</div>
<div id='info'></div>



<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  'use strict'
   
  let tbl = document.getElementById('table');
  let listOfLinks = document.getElementById('listOfLinks');
  filterForm();
  

  $(function() {
    
                  /*
  $('#filterForm').submit(function(e) {
    $('#table').text('');

    $.ajax({
      url: '/api/products',
      type: 'post',
      data: $('#filterForm').serialize(),
      success: function(data) {
        $('#table').attr('style', "display: inline");
        console.log(data, 'filter')
        //console.log(products, 'products')
        getTbl(tbl, data.products, data.count,data.page, data.limit);

                $('button.pages').click(function(e) {
                  console.log(e.target.dataset.page, 'pages')
                  $('#page').val(e.target.dataset.page)
                  

                  $.ajax({
                    url: '/api/products',
                    type: 'post',
                    data: $('#filterform').serialize(),
                    success: function(data) {
                      $('#table').attr('style', "display: inline");
                      getTbl(tbl, data.products, data.count,data.page, data.limit);
                      }
                    });
            });

      }
    });
    e.preventDefault();
 });
*/

    $('#showAll').click(function(e) {
        getAll();
        e.preventDefault();
  });

    $('#addNewButt').click(function() {

        newFormAddOrUpdate('formAddNew',`/api/new-item`, 'Add new item',{});
        $('#formFor').attr('style', "display: inline");
        getAll();
  });



    });

function filterForm(){
  
  $('#filterForm').submit(function(e) {
    $('#table').text('');

    $.ajax({
      url: '/api/products',
      type: 'post',
      data: $('#filterForm').serialize(),
      success: function(data) {
        $('#table').attr('style', "display: inline");
        console.log(data, 'filter')
        //console.log(products, 'products')
        getTbl(tbl, data.products, data.count,data.page, data.limit);
      }
    });
    e.preventDefault();
 });
}

async function newFormAddOrUpdate(idForm,apiWay, h1Text, objValue){

  let inElem = document.getElementById('formFor');
  inElem.innerHTML = '';
  let id = objValue.id || '';
 
  await inElem.insertAdjacentHTML('afterbegin', `
    <h1>${h1Text}</h1>
    <form  method="post"  id=${idForm} class="border">

    <input type="text" name="name" value=${objValue.name || ""} ><br>

    <input type="text" name="price" value=${objValue.price || ''} ><br>

    <input type="text" name="quantity" value=${objValue.quantity || ''}><br>

    <input type="submit" value="Submit">
  </form>
`
);

  await  $(`#${idForm}`).submit(function(e){
    e.preventDefault();
    addOrUpdate(idForm, apiWay, id);
  });

}

function addOrUpdate(idForm, apiWay, id=''){
  $('#info').text('');
  console.log($(`#${idForm}`).serialize, 'serialize')
  $.ajax({
    url: apiWay,
    type: 'post',
    data: $(`#${idForm}`).serialize(),
    success: function(data) {
      $('#info').text(data);
    }
  });
     $('#formFor').attr('style', "display: none");

}

function getAll(){

  removeTbl(tbl);
  $('#info').text('');

  $.ajax({
    url: '/api/products',
    type: 'get',
    success: function(data) {
      $('#table').attr('style', "display: inline");
      console.log(data, 'data')
        getTbl(tbl, data.products, data.count,data.page, data.limit);
    }
  });

}

async function funcDelete(e){
  let par = e.closest('tr');
  let id = par.id;
  let idOfElem = par.firstElementChild.innerHTML;
  $('#info').text('');

  console.log(idOfElem, 'id')

    await $.ajax({
      url: '/api/filter/'+idOfElem,
      type: 'delete',
      success: function(data) {
        console.log(data, 'resultDeleted');
        $('#info').text(data);
      }
    });

  getAll();
  
  console.log(this, 'this');
  console.log(e, 'target');

}

async function funcUpdate(e){
  let par = e.closest('tr');
  let id = par.firstElementChild;
  let name = id.nextElementSibling;
  let price = name.nextElementSibling;
  let quantity = price.nextElementSibling;
  let apiWay = '/api/filter/'+id.innerHTML;


  let objValue = {id: id.innerHTML, name: name.innerHTML, price: price.innerHTML, quantity: quantity.innerHTML }
  newFormAddOrUpdate('formUpdate', apiWay, 'Update data', objValue )  

  await $('#formFor').attr('style', "display: inline");
  //await getAll();
} 

function removeTbl(elemTbl){
  for(let i = 0; i < elemTbl.rows.length; i++){
    while(elemTbl.rows.length > 0){
      elemTbl.deleteRow(i);
    }
  }
}

async function getTbl(elem, arr, countNum,page, limit){
  console.log(arr, 'arrrrr')
   removeTbl(elem);



  let str = arr.reduce(( item,current, index  ) => {
   // console.log(item, 'item')
    let itemId = 'itemId' + String(index);
    return item + `<tr id='${itemId}'>
      <td>${current._id}</td>
      <td>${current.name}</td>
      <td>${current.price}</td>
      <td>${current.quantity}</td>
      <td><button onclick="funcUpdate(this)">Update</button></td>
      <td><button onclick="funcDelete(this)">Delete</button></td>
      </tr>
      `  }, '')

  //console.log(str, 'str')

  elem.insertAdjacentHTML('beforeend', str);
  linkGenerator(listOfLinks, countNum,page, limit)
 
}


function createEl(tag, par ){
	let el = document.createElement(tag);
		par.appendChild(el);
		return el;
}


function linkGenerator(elemIn,countNotes,page, limit){
  elemIn.innerHTML = '';
  let pagesCount = Math.ceil(countNotes / limit) ;
    let classVal, elemStr = '';
  for(let i = 1; i <= pagesCount; i++){
    classVal = page == i ? 'class="active pages"' : 'class="pages"';
    elemStr += `<button data-page="${i}" ${classVal} >${i}</button>` ;

console.log(pagesCount, 'pageCount')
  }

  elemIn.insertAdjacentHTML('afterbegin', elemStr)
 
                $('button.pages').click(async function(e) {
                  console.log(e.target.dataset.page, 'pages')
                  await $('#page').val(e.target.dataset.page)

                      $.ajax({
                        url: '/api/products',
                        type: 'post',
                        data: $('#filterForm').serialize(),
                        success: function(data) {
                          $('#table').attr('style', "display: inline");
                          console.log(data, 'filter')
                          //console.log(products, 'products')
                          getTbl(tbl, data.products, data.count,data.page, data.limit);
                        }
                      });


            });
}


</script>
</body>
</html>
