<html>
<head>
  <title></title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <style>
    code {
      background-color: whitesmoke;
    }
  </style>
</head>
<body>
<br>
<div id ='sampleposting'>
  <h2 style="text-align: left">Filters</h2>
  <form action='' id='filterForm'>
    <input id='byName' placeholder='searchByName' name='name'><br>
    <input id='byPrice' placeholder='searchByPrice' name='price'><br>
    <input id='byQuantity' placeholder='searchByQuantity' name='quantity'>
  </form>

  <hr style='margin: 50px'>
<div id='list'>
  <table id='table'><tr><th>id</th><th>Name</th><th>Price</th><th>Quantity</th><th>Update</><Delete></table>
</div>
<div id='info'></div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
<script src="/public/client.js"></script>
<script>
  'use strict'
   
  let tbl = document.getElementById('table');
let arrTemp = [{ _id: 23423, name: 'ffff', price: 'bbbbb', quantity: 'kkkkkk' }, { _id: 23423, name: 'ffff', price: 'bbbbb', quantity: 'kkkkkk' }]
  getTbl(tbl, arrTemp);
  
/*

    fetch('/products')
      .then(response => response.json())
      .then(result => {
          let products = JSON.parse(result);
          getTbl(tbl, products);
  
        })
      .catch(err => {
        console.log('err1', err);
      })


fetch('/products', {method: 'post'} )
      .then(response => response.json())
      .then(result => {
          let products = JSON.parse(result);
          getTbl(tbl, products);
  
        })
      .catch(err => {
        console.log('err1', err);
      })

*/

function funcDelete(e){
  let par = e.closest('tr');
  let id = par.id;
  let idOfElem = par.firstElementChild.innerHTML;
  console.log(idOfElem, 'id')

    $.ajax({
      url: '/api/products/'+idOfElem,
      type: 'delete',
      success: function(data) {
        console.log(data, 'resultDeleted');
        $('#info').text(data);
      }
    });
    e.preventDefault();
*/
  console.log(this, 'this')
  console.log(e, 'target')



}

function funcUpdate(e){
  
} 

async function getTbl(elem, arr){
  console.log(arr, 'arrrrr')
  let str = arr.reduce(( item,current, index  ) => {
    console.log(item, 'item')
    let itemId = 'itemId' + String(index);
    return item + `<tr id='${itemId}'>
      <td>${current._id}</td>
      <td>${current.name}</td>
      <td>${current.price}</td>
      <td>${current.quantity}</td>
      <td><button onclick="funcUpdate(this)">Update</button></td>
      <td><button onclick="funcDelete(this)">Update</button></td>
      </tr>
      `  }, '')

  console.log(str, 'str')

  elem.insertAdjacentHTML('beforeend', str);
  
}

function createEl(tag, par ){
	let el = document.createElement(tag);
		par.appendChild(el);
		return el;
}

</script>
</body>
</html>
